/**********************************
*@auth:   Doug Madzier
*@date:   Thu, March 14, 2024
*@class:  CS133J Week-09 Homework 08 
***********************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #ddb588;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 600px;
    max-width: 90%;
    background-color: white;
    padding: 20px 40px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 5px 10px 0 #333;
  }

li {
    list-style: none;
    display: inline-block;
}